footer{
    padding:10px;
    margin: auto;
    color:#ffffff;
    background-color:rgb(26, 24, 24);
    text-align: center;
    height: 130px;
    display: flex;
    width: 100%;
    font-size: 2rem;
  }
  p{
    text-align: center;
    margin: auto;
  }

  